body {
    font-family: 'Poppins', sans-serif;
}


.slide-pack {
    position: relative;
}
.slide-image{
    width: 100%;
}
.slide-button {
    position: absolute;
    border: 2px solid rgb(90, 26, 26);
    padding: 1rem 2rem;
    text-decoration: none;
    color: rgb(109, 64, 64);
    border-radius: 0.5em;
}

.slide-button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.185);
    border: 2px solid white;
    padding: 1rem 2rem;
    text-decoration: none;
    color: white;
    border-radius: 0.5em;
}

/* @media (max-width:200px) {

    .navbar {
        position: relative !important;
    }

} */