:root {

    --color-primary: #002559;
    --color-secondary: #71B131;

}


body {
    font-family: 'Poppins', sans-serif;
}

.banner-main {
    width: 100%;
    position: relative;
    height: auto;
}

.banner-image {
    width: 100%;

}

.banner-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 33, 33, 0.582);
}

.banner-content {
    width: 50%;
    position: absolute;
    color: white;
    top: 50%;
    padding: 0rem 3rem;
    transform: translateY(-50%);
    font-weight: 600;
}

.banner-header {
    font-size: 72px;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.banner-btn {
    font-size: 24px;
    padding: 0rem 3rem;
    font-weight: 600;
    border: 2px solid white;
    padding: 0.75rem 1rem;
    text-decoration: none;
    color: white;
    border-radius: 0.5rem;
    margin-top: 2rem;
    width: max-content;

}

.banner-btn:hover {
    text-decoration: none;
    cursor: pointer;
    color: white;
    background-color: rgba(12, 12, 12, 0.164);
}

.about {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.about h5 {
    color: var(--color-secondary);
    width: fit-content;
}

.about h2 {
    color: var(--color-primary);
    font-weight: bolder;
    width: fit-content;
    font-size: 48px;
}

.about p {
    font-size: 12px;
    width: fit-content;
}

.about a {
    background-color: var(--color-secondary);
    color: white;
    padding: 1rem 1rem;
    width: fit-content;
    text-decoration: none;
}

.wedo-content {
    top: 20%;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* transform: translateX(-50%); */
    padding: 0rem 0rem;
    font-weight: 600;
}

.wedo-header {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.wedo-subhesader {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.wedo-content p {
    margin: 0 3rem;
    font-weight: 400;
    text-align: center;
}

.footer-links p a{
    color: white;
    text-decoration: none;
}
.footer-links p a:hover{
    color: oldlace;
    text-decoration: none;
}
.footer-main{
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 100%;
    background-image: url("/images/mountains-g8eef30874_1280.jpg");
}
.footer-overlay{
    width: 100%;
    padding: 5rem 0;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    color: white;
}
.footer-content p{
    font-size: 14px;
    font-weight: 300;
}
/* Style for mobile devices */
@media screen and (max-width:768px) {
    .banner-content {
        position: absolute;
        color: white;
        top: 50%;
        padding: 0rem 1.5rem;
        transform: translateY(-50%);
        font-weight: 500;
    }

    .banner-header {
        font-size: 36px;
        padding: 0;
    }

    .banner-btn {
        font-size: 12px;
        margin-top: 2rem;
    }
    .wedo-content {
        top: 10%;
        position: absolute;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* transform: translateX(-50%); */
        padding: 0rem 0rem;
        font-weight: 600;
    }
    .wedo-header {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 0.5em;
    }

    .wedo-subhesader {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 0.5em;
    }

    .wedo-content p {
        margin: 0 3rem;
        font-weight: 400;
        text-align: center;
        font-size: 12px;
    }
}